.insightsHeading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 300;
    font-size: 45px;
    line-height: 125%;
    margin-top: 3rem;
}

.headingColor {
    margin-left: 5px;
    color: #F48850;
}

.insightsPictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 4rem;
}

.insightsPictures img {
    z-index: 1;
    background: #1E1E1E;
    opacity: 0.8;
    border-radius: 6px;
}

.imageDesc{
    z-index: 2;
    margin: -75px 4rem 0 5px;
    color: #FFFFFF;
    opacity: 1;
}